#box1{
    height:100px;
    width:200px;
    background-color: green;
    font-size:10px;
}
#box3{
    height:50px;
    width:30%; 
    background-color:yellow;
    margin-left:10%;
    font-size:2em;
    width:5em;
    padding-left: 20px;
    padding-top:20px;
    width:5rem;
    
  
}