ol{
    color:rgb(215, 55, 55);
}
body{
    background:black;
}
h1{
    color:rgb(22, 162, 55);
}
button{
    color:#78f000;
    background:blanchedalmond;
}
#class1{
    color:blueviolet;
}
#class2{
    color:magenta;
}
#class3{
    color:blanchedalmond;
}
#class4{
    color:#890f68;
}
.class{
    color:deepskyblue;
}