body{
    background:rgb(21, 125, 156);
}
#class{
    color:aqua;
}
h1{
    color:brown;
    
}
#hello{
    color:chartreuse;
    
}
#hii{
    color:magenta;
    
}
.hy{
    color:rgb(148, 191, 8);
}

