*{
    padding:0;
    margin:0;
}
#navbar{
    height:60px;
    background-color:black;
}
button{
    background-color: rgb(161, 197, 30);
}
#logo{
    color:rgb(165, 28, 44);
    font-size: 25px;
}
a{
    color:white;
    margin-right: 200px;
}