div{
    height:100px;
    width:100px;
    background-color:bisque;
    border:2px solid red;
     border-radius:15px;
     padding-left :25px;
     padding-top: 50px;
 
     text-transform: capitalize;
     font-family: Arial, Helvetica, sans-serif;
     border-radius: 50%;
     color:brown;
     margin-top: 50px;
     

}